.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.intro__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

.intro__slogan {
  margin-bottom: 25px;

  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
