.main-nav {
  position: relative;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item-link {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;

  cursor: pointer;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}



@media (max-width: $mobileWidthOnly) {
  .main-nav__toggle {
    position: absolute;

    width: 19px;
    height: 19px;

    top: -44px;
    right: 17px;

    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../img/icon-close.svg');
  }

  .main-nav--closed {
    .main-nav__list {
      display: none;
    }

    .main-nav__toggle {
      width: 25px;
      height: 19px;

      background-image: url('../img/icon-mobile-menu.svg');
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }
}

@media (min-width: $tabletWidth) {
  .main-nav__item-link--active {
    border-bottom: 1px solid #68b738;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    // margin-right: 36px;

    border-top: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__item-link {
    font-size: 18px;
    line-height: 1.39;
  }
}

@media (min-width: $desktopWidth) {
  .main-nav__list--white {
    .main-nav__item-link {
      color: #ffffff;
      font-size: 20px;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .main-nav__item-link--active {
      border-bottom: 1px solid #ffffff;
    }
  }
}
