.page-catalog__title {
  margin: 0;
  padding: 0 20px;

  text-align: center;
  font-size: 36px;
  line-height: 1.67;
}

@media (min-width: $tabletWidth) {
  .page-catalog {
    padding-bottom: 75px;
  }

  .page-catalog__title {
    padding: 0 30px;

    font-size: 60px;
    text-align: left;
  }
}

@media (min-width: $desktopWidth) {
  .page-catalog {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .page-catalog__title {
    padding: 0;
  }
}
