.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 11px 20px 15px 11px;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tabletWidth) {
  .page-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo-wrapper {
    padding: 0;
  }

  .page-header {
    padding: 0 30px;

    border: none;
  }

  .page-header__container {
    align-items: center;

    min-height: 160px;
  }

  .page-header_nav {
    width: 62%;
    max-width: 560px;
  }
}

@media (min-width: $desktopWidth) {
  .page-header {
    padding: 0;
  }

  .page-header__container {
    max-width: 1220px;
    margin: 0 auto;
  }
}
