.product-card {
  padding: 25px 20px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.product-card__wrapper {
  display: flex;
  flex-direction: row;
}

.product-card__title {
  margin: 0;
  max-width: 100px;

  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.product-card__titles-wrapper {
  margin-bottom: 24px;
}

.product-card__info-wrapper {
  flex-grow: 1;
}

.product-card__info-list {
  @include list-reset;

  font-family: Arial;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.product-card__info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $tabletWidth) {
  .product-card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 324px;
    padding: 0 37px 40px 37px;

    background-color: #f2f2f2;
  }

  .product-card__title {
    max-width: 150px;
    margin: 0 auto;

    font-size: 20px;
    text-align: center;
  }

  .product-card__wrapper {
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  .product-card__info-wrapper {
    width: 100%;
  }

  .product-card__info-list {
    width: 100%;
  }

  .product-card__info-list {
  margin-bottom: 33px;

    font-size: 16px;
  }

  .product-card__info-item {
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .product-card__image-wrapper {
  margin-top: -85px;
  margin-bottom: 20px;
  }

  .product-card__image--big {
    width: 195px;
    height: 208px;
  }
}

@media (min-width: $desktopWidth) {
  .product-card {
    width: 245px;
  }
}
