.programms {
  padding: 0 20px;
}

.programms__list {
  @include list-reset;
}

.programms__item {
  margin-bottom: 20px;
  padding: 39px 21px 21px 21px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.programms__item-title {
  position: relative;

  margin: 0;
  margin-bottom: 36px;
  padding-left: 74px;

  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;

  &:after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: -3px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #68b738;
  }
}

.programms__item-title--loss {
  &:after {
    width: 35px;
    height: 49px;

    top: -6px;
    left: 8px;

    background-image:url('../img/icon-cat-slim.svg');
  }
}

.programms__item-title--gain {
  &:after {
    width: 67px;
    height: 28px;

    top: 7px;
    left: -10px;

    background-image:url('../img/icon-cat-pro.svg');
  }
}

.programms__item-description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 25px;

  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.programms__item-link {
  position: relative;

  padding-right: 40px;

  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  &:hover {
    &:before {
      width: 34px;

      background-image:url('../img/icon-right-arrow-verylong.svg');
    }
  }

  &:active {
    &:before {
      width: 34px;

      background-image:url('../img/icon-right-arrow-verylong.svg');
    }

    opacity: 0.3;
  }

  &:before {
    content: '';

    position: absolute;
    left: 103px;
    top: 8px;

    width: 26px;
    height: 12px;

    background-image:url('../img/icon-right-arrow-long.svg');
  }
}


@media (min-width: $tabletWidth) and (max-width: $desktopWidth) {
  .programms {
    padding: 0 30px;
  }

  .programms__item {
    padding: 81px 285px 62px 52px;
  }

  .programms__item-title {
    padding: 0;

    font-size: 36px;

    &:before {
      left: auto;
      right: -238px;

      width: 200px;
      height: 200px;

      border-radius: 50%;
      background-color: #68b738;
    }
  }

  .programms__item-description {
    margin-bottom: 61px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programms__item-link {
    font-size: 20px;
  }

  .programms__item-title--loss {
    &:after {
      width: 140px;
      height: 194px;

      left: auto;
      right: -221px;

      background-image:url('../img/icon-cat-slim.svg');
    }
  }

  .programms__item-title--gain {
    &:after {
      width: 268px;
      height: 112px;

      left: auto;
      right: -264px;
      top: 40px;

      background-image:url('../img/icon-cat-pro.svg');
    }
  }
}

@media (min-width: $desktopWidth) {
  .programms {
    padding: 0 110px;
    max-width: 1220px;
    margin: 0 auto;
  }

  .programms__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .programms__item {
    box-sizing: border-box;
    flex-basis: 570px;
    margin-bottom: 0;
  }

  .programms__item-description {
    border-bottom: 0;
  }
}
