$mainGray: #f2f2f2;
$mainGreen: #68b738;
$textGray: #111111;
$lineGray: rgba(0, 0, 0, 0.1);
$mobileWidthOnly: 767px;
$tabletWidth: 768px;
$desktopWidth: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
